@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.icon-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.1); /* Adjust opacity and color */
  z-index: 1; /* Position it behind the text */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
}

.group:hover .icon-bg {
  opacity: 1;
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}
.stats-card {
  @apply bg-gradient-to-b from-[#0F4D47] to-[#1C6B62] shadow-lg rounded-lg p-6 m-4 text-white transition-transform transform hover:scale-105 hover:shadow-xl duration-300;
}

.icon {
  @apply text-4xl mr-4;
}

.value {
  @apply text-5xl font-extrabold;
}

.label {
  @apply mt-2 text-lg font-semibold;
}

.video-container {
  object-fit: cover !important;
  position: absolute !important;
  top: 27px !important;
}

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth
}


.fixed-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
}
.font-sizw{
  font-size: medium !important;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg]
}

.rotate-90 {
  @apply rotate-[90deg]
}

.rotate-135 {
  @apply rotate-[135deg]
}

.rotate-180 {
  @apply rotate-[180deg]
}

.rotate-225 {
  @apply rotate-[225deg]
}

.rotate-270 {
  @apply rotate-[270deg]
}

.rotate-315 {
  @apply rotate-[315deg]
}

.rotate-360 {
  @apply rotate-[360deg]
}

.-rotate-45 {
  @apply rotate-[-45deg]
}

.-rotate-90 {
  @apply rotate-[-90deg]
}

.-rotate-135 {
  @apply rotate-[-135deg]
}

.-rotate-180 {
  @apply rotate-[-180deg]
}

.-rotate-225 {
  @apply rotate-[-225deg]
}

.-rotate-270 {
  @apply rotate-[-270deg]
}

.-rotate-315 {
  @apply rotate-[-315deg]
}

.-rotate-360 {
  @apply rotate-[-360deg]
}